* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  html {
    background: #bcccda;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  /* *,
  *:before,
  *:after {
    box-sizing: inherit;
  } */
  
  .subtle {
    color: rgb(94, 34, 34);
  }
  
  .main-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    padding:20px;
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  .card-container {
    margin: 25px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
  }
  
  .card-container img {
    max-width: 100%;
    height: 280px;
  }
  
  .card {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(142, 160, 181, 0.07);
    /* z-index: 1; */
    border-radius: 5px;
  }
  
  .card-body {
    display: block;
    box-sizing: border-box;
  }
  
  .card-number {
    margin-top: 15px;
  }
  
  .card-circle {
    border: 1px solid rgb(94, 34, 34);
    border-radius: 50%;
    display: block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
  }
  
  .card-author {
    display: block;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: .8px;
    /* margin: 15px 0 0; */
    margin-top:5px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .card-title {
    font-family: 'Lucida Sans',  sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
  }
  
  .card-description {
    /* display: inline-block; */
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 5px 0 0;
    border: 1px solid #aaa;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card-tag:hover {
    background: #aaa;
    color: black;
  }
  
  .card-media {
    max-width: 100%;
    height: auto;
  }
  
  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
      0 0 100px 3px rgba(0, 0, 0, 0.25);
    height: 1px;
    width: 80%;
    /* z-index: -1; */
  }
  
  @media (max-width: 998px) {
    .main-container {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
    }
  }
  
  /* ---------- Button styles ------------------ */
  
  .navbar {
    padding-top: 50px;
    text-align: center;
  }
  
  .navbar h1 {
    padding-bottom: 20px;
    text-transform: capitalize;
  }
  
  /** button group styles **/
  .button {
    border-radius: 1rem;
    text-transform: capitalize;
    /* border-radius: 5px; */
  }
  .button-item {
    border: none;
    /* min-width: 6rem; */
    padding: 1.5rem 3rem;
    color: 
    #0087ca;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* box-shadow: inset 0px 0px 0px -15px rgb(153, 80, 51); */
    
    text-transform: capitalize;
    /* border-radius: 5px;  */
  }
  .button-item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .button-item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .button-item:hover{
    background-color: #afd493;
    transition: all .1s ease-out;
  }
  .button-item:active{
    transform: translateY(-5px);
    box-shadow: 2px 2px 2px 2px rgb(219, 146, 139);
    /* transition: .3s; */
  }
  /* .button-item{
    display: inline-block;
  position: relative;
 
  } */
 
 
  